.loading-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokeball {
  width: 80px;
  height: 80px;
  background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png");
  background-size: cover;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
